

tese_pdf/template-blx.bib

tese_pdf/template.aux

tese_pdf/template.bbl

tese_pdf/template.blg

tese_pdf/template.fdb_latexmk

tese_pdf/template.fls

tese_pdf/template.log

tese_pdf/template.out

tese_pdf/template.pdf

tese_pdf/template.run.xml

tese_pdf/template.synctex.gz

tese_pdf/template.toc

tese_pdf/.vscode

related_work/

